src/Plugins/Nop.Plugin.ExchangeRate.XmlExchangeRateProvider/Resources/ExchangeRate-serialization.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="ExchangeRate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CurrencyCode" type="ISO-currency-3-letter-code" />
              <xs:element name="Rate" type="xs:decimal" />
              <xs:element name="UpdatedOn" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ISO-currency-3-letter-code">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}" id="ISO-3-uppercase-letter" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>